/* Стили шапки */
.header .navbar {
    padding: 1rem 2rem 1.2rem;
}
.header .navbar-brand {
    align-self: center;
}
.header .navbar-brand img {
    width: 14.5rem;
    height: 3rem;
    object-fit: contain;
    object-position: left top;
}
.header .navbar-nav {
    gap: .2rem;
}
.header .nav-link {
    color: #000;
}
.header .nav-menu .nav-link {
    padding-bottom: .36rem;
    padding-top: 0;
}
.header .nav-function {
    align-items: center;
    margin-left: auto;
    margin-top: .3rem;
    gap: 1rem;
}
.header .nav-function .btn {
    padding: 0.75rem 2rem;
}
@media screen and (max-width: 1100px){
    .header .navbar-brand img {
        width: 12.5rem;
        height: 3rem;
    }
}

@media screen and (max-width: 991px){
    .border-right {
        display: none;
    }
    .header .nav-menu {
        align-items: center;
    }
    .header {
        min-width: 100%;
    }
}