/* Общие стили */
.registration-form {
    min-width: 29rem;
    max-width: 20rem;
    color: #959595;
    background-color: white;
    padding: 5.4rem 3rem 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #3F444A; /* Цвет заголовка формы */
}

.text-liner {
    text-align: center;
    margin-bottom: 1rem;
}

/* Стили иконок социальных сетей */
.social-icon {
    font-size: 1.2rem;
    color: #555;
    margin-right: 10px;
}

/* Стили текста для ссылки на вход */
.text-login {
    margin-top: 1rem;
    text-align: center;
}

.text-login a {
    color: #007bff;
    text-decoration: none;
}

.text-login a:hover {
    text-decoration: underline;
}

/* Группа формы */
.form-group {
    margin: 1.4rem 0;
}

/* Кнопка формы */
.form-button {
    margin: 1.7rem 0 1.2rem;
}

.form-button button {
    width: 100%;
}

.form-button button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/* Стили кнопки регистрации через соц. сети */
.social-register {
    width: 100%;
    position: relative;
}

.social-register span {
    position: relative;
    padding: 0 3px;
    font-size: .9rem;
    font-weight: 500;
    background: #fff;
}

.bg-liner {
    display: block;
    position: absolute;
    width: 100%;
    height: .05rem;
    top: 50%;
    background: #E6E6E6;
    transform: translate(0, -50%);
}

.social-register-button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 1.7rem 0 1.8rem !important;
}

.log-in {
    font-weight: 700;
}

.policy {
    color: #727272;
    font-weight: 600;
}
@media screen and (max-width: 460px) {
    .registration-form {
        min-width: 100%;
    }
}