/* Общие стили */
:root {
    font-size: 20px;
}


/* Стили кнопок */
.btn {
    font-weight: bold !important;
}
.btn-warning {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #F05B22 !important;
    --bs-btn-border-color: #F05B22 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #F05B22 !important;
    --bs-btn-hover-border-color: #F05B22 !important;
    --bs-btn-focus-shadow-rgb: 217, 164, 6 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #F05B22 !important;
    --bs-btn-active-border-color: #F05B22 !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #F05B22 !important;
    --bs-btn-disabled-border-color: #F05B22 !important;
}

/* Стили баннера */
.banner {
    height: calc(100vh - 5.825rem);
    position: relative;
    width: 100%;
    padding: 5.65rem 5rem 6.3rem;
}
.banner .overlay {
    position: absolute;
    background: linear-gradient(rgba(64, 76, 115, 0.94), rgba(24, 39, 81, 0.76));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner .content {
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    gap: 6.5rem;
    align-items: center;
}

/* Стили для активной ссылки в навигационном меню */
.header .nav-menu .nav-link.active {
    color: #0165FF;
}

/* Общие стили ссылок */
a {
    text-decoration: none !important;
}

/* Дополнительные стили для разделительной линии */
.header .border-right {
    margin: 0 1rem;
    width: 1px;
    height: 3rem;
    background: #C7C7C7;
}

/* Специфические стили для заголовка h1 */
h1 {
    margin-bottom: 1.5rem !important;
}
.risk-disclaimer {
    position: relative;
    font-size: .8rem;
    padding: 2.525rem 0;
}
.risk-disclaimer p {
    margin-bottom: 0;
}
.risk-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
}
@media screen and (max-width: 1500px){
    :root {
        font-size: 18px;
    }
}
@media screen and (max-width: 1400px){
    :root {
        font-size: 16px;
    }
}
@media screen and (max-width: 1300px){
    :root {
        font-size: 14px;
    }
}
@media screen and (max-width: 1050px) {
    .content {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }

    .registration-form {
        padding-top: 3rem;
        max-width: 60%;
    }
    .risk-disclaimer {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 600px) {

    .risk-disclaimer {
        padding: 4.4rem 0;
    }
}

@media screen and (max-width: 500px) {

    .banner {
        padding: 4rem 1.5rem 3rem;
    }
    .banner .content {
        gap: 1rem
    }
    .registration-form {
        padding-top: 3rem;
        max-width: 100%;
    }
}
@media screen and (max-width: 460px) {
    body {
        min-width: 100%;
    }
}